body {
  margin: 0;
  cursor: default;
}
a {
  text-decoration: none;
  color: white;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: orange;
  align-items: center;
  color: white;
  padding: 16px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 20px;
  cursor: pointer;
  border-radius: 4px;
}

.navbar__menu__item:hover {
  background-color: darkorange;
}
