body {
  margin: 0;
  cursor: default;
}
a {
  text-decoration: none;
  color: white;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: green;
  align-items: center;
  color: white;
  padding: 8px;
}

ul {
  padding-left: 0;
}
li {
  list-style: none;
}

button {
  background-color: greenyellow;
  cursor: pointer;
  border: none;
  outline: none;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 20px;
  cursor: pointer;
  border-radius: 4px;
}

.navbar__menu__item:hover {
  background-color: greenyellow;
}

#hero {
  background: darkgreen center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.hero__main {
  width: 250px;
  height: 250px;
  border-radius: 20%;
  border: 2px solid whitesmoke;
}

.hero__title,
.hero__description {
  color: white;
}
.hero__contact {
  color: whitesmoke;
  font-size: xx-large;
  font-weight: bold;
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid white;
  border-radius: 4px;
}
